{% extends 'base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
<form method="POST" action="passwordreset">
    {% csrf_token %}
    <p>UserName<input type="text" name="uname"></p><br>
    <p>Email<input type="text" name="email"></p><br>
    <p><label>New Password</label><input type="password" name="password"></p>
    <input type="submit" Value="Send">
    {{errmsg}}
    <p><a href="{% url 'login'%}" ><I>Login</I></a> </p>
</form>
</body>
</html>
{%endblock%}